* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  margin: 0;
  font-family: "Platypi", sans-serif;
  font-weight: 400;
  background-color: rgb(252, 249, 244);
}

main {
  margin: 64px;
}

.selectedButton {
  background-color: black;
  color: white;
}
