* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  margin: 0;
  font-family: "Platypi", sans-serif;
  font-weight: 400;
  background-color: white;
}

main {
  margin: 64px;
}

.selectedButton {
  background-color: #29211d !important;
  color: white !important;
  border: 2px solid #29211d !important;
}

.randomButton {
  cursor: pointer;
  width: 50px;
}

.randomButton:hover {
  opacity: 0.5;
}

p {
  margin: 0;
}
